@tailwind base;
@tailwind components;
@tailwind utilities;

.react-date-picker__wrapper {
  @apply rounded-md p-2 flex items-center gap-2 cursor-pointer;
}

.react-date-picker__inputGroup {
  @apply text-lg text-gray-600 cursor-pointer;
}

.react-date-picker__calendar-button {
  @apply border-none bg-none cursor-pointer;
}

.react-date-picker__clear-button {
  @apply hidden;
}

.font-bn {
  font-family: var(--font-anek-bangla);
}

.font-en {
  font-family: var(--font-inter);
}

.layout-container {
  @apply mx-auto container sm:w-[1328px] sm:max-w-[90%];
}

.admin-container {
  @apply sm:m-4 p-4 mx-auto;
}

.admin-mt {
  @apply mt-4;
}

.admin-p {
  @apply p-4 sm:p-6 md:p-7 lg:p-10;
}

.layout-mt {
  @apply mt-4 sm:mt-5 md:mt-6 lg:mt-8;
}

.layout-p {
  @apply p-4 sm:p-6 md:p-7 lg:p-10;
}

.layout-px {
  @apply px-4 sm:px-0;
}

.layout-mx {
  @apply mx-4 sm:mx-0;
}

/* Customize daisy UI */
.menu-item {
  @apply border-l-4 rounded-none border-white flex items-center justify-between hover:text-primary hover:border-l-primary hover:bg-[#FF82001A] focus:text-primary focus:border-l-primary focus:bg-[#FF82001A];
}

.btn-link {
  @apply px-0 no-underline hover:underline;
}

input[type="text"] {
  @apply focus:outline-none focus:border-primary;
}

.label-2 {
  @apply label text-black03 pl-0 font-medium;
}

/* Table */
.table-left-0 :where(th, td) {
  padding-left: 0;
}

.table-px-0 :where(th, td) {
  padding-left: 0;
  padding-right: 0;
}

.table-no-border :where(tbody, tr) {
  border-bottom: none;
}

/* Step */
.steps.steps-vertical .step::before {
  @apply w-[3px];
}

.steps.lg\:steps-horizontal .step::before {
  @apply lg:max-h-[3px] lg:w-full;
}


/* Half underline */
.half-underline {
  position: relative;
}

.half-underline:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  border-bottom: 2px solid #ff8200;
  transition: width 0.3s ease, transition-delay 0.3s;
}

.half-underline:hover:before {
  width: 100%;
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}